*{
    background-color: black;
}
div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    text-align: center;
    list-style: none;
    display: inline-block;
    color: whitesmoke;
    /* color: whitesmoke; */
    text-size-adjust: 100vh;
    font-size: 10rem;
    font-family:'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-shadow: 2px 4px 10px yellowgreen;
    transition: all 1s linear;
}

ul:hover li{
    transform: translateY(-150px) rotate(25deg);
    filter: blur(5px);
    opacity: 0;
}

ul li:nth-child(1){
    transition-delay: 0.2s;    
}
ul li:nth-child(2){
    transition-delay: 0.6s;    
}
ul li:nth-child(3){
    transition-delay: 1s;    
}
ul li:nth-child(4){
    transition-delay: 1.4s;    
}
ul li:nth-child(5){
    transition-delay: 1.8s;    
}
ul li:nth-child(6){
    transition-delay: 2.2s;    
}